name: Run tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: "pip"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
    - name: Install library
      run: |
        pip install -e .
    - name: Lint with ruff
      run: |
        ruff . --check
    - name: Download eighth notes dataset
      run: |
        python midi_lm/datasets/eighth_notes.py download
        python midi_lm/datasets/eighth_notes.py split
    - name: Test with pytest
      run: |
        pytest .
